    <section class="doors">
      <div class="container">
        <div class="icon-boxes">
          <div class="icon-box">
            <a href="#validation-service">
              {% include 'icons/cloud.svg' %}
              <h2>{{ _('Validation API') }}</h2>
              <p>{{ _('Free hosted validation service') }}</p>
            </a>
          </div>
          <div class="icon-box">
            <a href="#validation-libraries">
              {% include 'icons/library-2.svg' %}
              <h2>{{ _('Libraries') }}</h2>
              <p>{{ _('Validation libraries for major software languages') }}</p>
            </a>
          </div>
          <div class="icon-box">
            <a href="#report">
              {% include 'icons/spell-check.svg' %}
              <h2>{{ _('Transparency Report') }}</h2>
              <p>{{ _('See how online platforms compare') }}</p>
            </a>
          </div>
        </div>
      </div>
    </section>
