{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inclusive Taiwan Identification Number Validation</title>
  <meta name="description" content="">
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/glide.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/content-box.css' %}">
  <link rel="stylesheet" href="{% static 'css/contact-form.css' %}">
  <link rel="stylesheet" href="{% static 'css/media-box.css' %}">
  <link rel="stylesheet" href="{% static 'css/skin.css' %}">
  <link rel="stylesheet" href="{% static 'css/prism.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="icon" href="{% static 'media/favicon.png' %}">
</head>
<body>
  <div id="preloader"></div>
  <main>
    <section class="section-image section-full-width-right light no-padding-top" style="background-image:url({% static 'media/bg.svg' %})">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-anima="fade-in" data-time="1000">
            <hr class="space" />
            <hr class="space-lg" />
            <h1>
              Inclusive Taiwan Identification Number Validation
            </h1>
            <p>
              Tools for ensuring everyone has equal access to online services and platforms.
            </p>
          </div>
          <div class="col-lg-6 hidden-md" style="width: 100%; height: 100%; background-image: url({% static 'media/phone-wall2.png' %}); background-position: 0 -100px; background-size: 650px;"></div>
        </div>
      </div>
    </section>
    <section class="section-base">
      <div class="container">
				<table class="table table-grid table-border table-md-6">
					<tbody>
						<tr>
							<td>
								<div class="cnt-box cnt-box-top-icon align-center" data-href="#">
									<i class="im-cloud"></i>
									<div class="caption">
										<h2>Validation API</h2>
										<p>Free hosted validation service</p>
									</div>
								</div>
							</td>
							<td>
								<div class="cnt-box cnt-box-top-icon align-center" data-href="#">
									<i class="im-library-2"></i>
									<div class="caption">
										<h2>Libraries</h2>
										<p>Validation libraries for major software languages</p>
									</div>
								</div>
							</td>
							<td>
								<div class="cnt-box cnt-box-top-icon align-center" data-href="#">
									<i class="im-spell-check"></i>
									<div class="caption">
										<h2>Transparency Report</h2>
										<p>See how online platforms compare</p>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
    <section id="overview" class="api section-base section-color">
			<div class="container">
				<div class="row  align-items-center">
					<div class="col-lg-6" data-anima="fade-left" data-time="1000">
						<h2>Hosted Validation Service</h2>
						<p>
							This ID number validation API covers all forms of legal resident 
							ID numbers and is provided free of charge.
						</p>
						
						<h3>Example request:</h3>
						
						<pre><code class="language-js">https://v.identity.tw?id=G112233445</code></pre>
						
						<h3>Example response:</h3>
						
						<pre><code class="language-json">{
  "id": "G112233445",
  "valid": true
}</code></pre>
					</div>
					<div class="col-lg-6 api" data-anima="fade-right" data-time="1000">
					  <div class="cnt-box boxed try-it"> 
              <h3>Try it out:</h3>
              <form class="from-box form-inline">
                <input id="id" name="id" placeholder="ID number" class="input-text">
                <button class="btn btn-sm" type="submit" id="api-submit" disabled>Submit</button>
              </form>
              
              <div id="api-example" style="display: none;">
                <h4>Request:</h4>
                <pre id="api-request"><code class="language-http"></code></pre>
                <h4>Response:</h4>
                <pre id="api-response"><code class="language-json"></code></pre>            
              </div>
            </div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-base section-libraries">
      <div class="container">
        <h2>Validation Libraries</h2>
        <p>These libraries cover all forms of legal resident ID numbers. Choose
        your language:</p>
        <div class="library-languages tab-box tab-vertical" data-tab-anima="fade-in">
          <ul class="tab-nav">
            <li class="active"><a href="#">Javascript</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">Go</a></li>
            <li><a href="#">Java</a></li>
          </ul>
          <div class="panel active">
            <pre><code class="language-js">ID_REGEX = /^[A-Z]{1}[1-2A-D8-9]{1}[0-9]{8}$/;
ID_LETTERS = 'ABCDEFGHJKLMNPQRSTUVXYWZIO';

function isValid(id) {
  id = id.toUpperCase();
  if (!ID_REGEX.test(id)) {
    return false;
  }
  
  let letterIndex = ID_LETTERS.indexOf(id[0]);
  let sum = Math.floor(letterIndex / 10 + 1) + (letterIndex * 9);

  // Legacy ARC 
  if ((/[A-Z]/).test(id[1])) {
    sum += (ID_LETTERS.indexOf(id[1]) % 10) * 8;
  } else {
    sum += parseInt(id[1]) * 8;
  }

  for (i = 2 ; i < 9 ; i++) {
    sum += (9 - i) * parseInt(id[i]);
  }
  sum += parseInt(id[9]);

  return sum % 10 === 0;
}</code></pre>
          </div>
          <div class="panel">
<pre><code class="language-python">import math
import re

ID_REGEX = '^[A-Z]{1}[1-2A-D8-9]{1}[0-9]{8}$';
ID_LETTERS = 'ABCDEFGHJKLMNPQRSTUVXYWZIO';

def isValid(id_no):
    id_no = id_no.upper()
    regex = re.compile(ID_REGEX)
    if (regex.match(id_no) is None):
        return False

    letterIndex = ID_LETTERS.index(id_no[0])
    checksum = math.floor(letterIndex / 10 + 1) + (letterIndex * 9)

    # Legacy ARC
    if (re.match('[A-Z]', id_no[1])):
        checksum = checksum + (ID_LETTERS.index(id_no[1]) % 10) * 8;
    else:
        checksum = checksum + int(id_no[1]) * 8

    for position in range(2, 9):
        checksum = checksum + (9 - position) * int(id_no[position])

    checksum = checksum + int(id_no[9])

    if (checksum % 10) == 0:
        return True
    else:
        return False
</code></pre>

          </div>
          <div class="panel">
<pre><code class="language-php">&lt;?php

define("ID_REGEX", '/^[A-Z]{1}[1-2A-D8-9]{1}[0-9]{8}$/');
define("ID_LETTERS", 'ABCDEFGHJKLMNPQRSTUVXYWZIO');


function isValid($id_no)
{

  $id_no = strtoupper($id_no);
  if (preg_match(ID_REGEX, $id_no) != 1)
  {
    return false;
  }

  $letterIndex = strpos(ID_LETTERS, $id_no[0]);
  $checksum = floor($letterIndex / 10 + 1) + ($letterIndex * 9);

  // Legacy ARC
  if (preg_match('/[A-Z]/', $id_no[1]) == 1)
  {
    $checksum += (strpos(ID_LETTERS, $id_no[1]) % 10) * 8;
  } else {
    $checksum += intval($id_no[1]) * 8;
  }
  
  for ($i = 2 ; $i < 9 ; $i++) { 
    $checksum += (9 - $i) * intval($id_no[$i]);
  }
  $checksum += intval($id_no[9]);

  if (($checksum % 10) == 0){
    return true;
  } else {
    return false;
  }

}
?>
</code></pre>
          </div>
          <div class="panel">
            <h2>Coming soon</h2>
          </div>
          <div class="panel">
<pre><code class="language-java">public class ValidId {

  static final String ID_REGEX = "^[A-Z]{1}[1-2A-D8-9]{1}[0-9]{8}$";
  static final String ID_LETTERS = "ABCDEFGHJKLMNPQRSTUVXYWZIO";

  public static boolean isValid(String idNo) {
    idNo = idNo.toUpperCase();

    if (!idNo.matches(ID_REGEX)) {
      return false;
    }

    int letterIndex = ID_LETTERS.indexOf(idNo.charAt(0));
    int checksum = (int) Math.floor(letterIndex / 10 + 1) + (letterIndex * 9);
  
    // Legacy ARC
    if (Character.isLetter(idNo.charAt(1))) {
      checksum += (ID_LETTERS.indexOf(idNo.charAt(1)) % 10) * 8;
    } else {
      checksum += Character.getNumericValue(idNo.charAt(1)) * 8;
    }

    for (int i = 2 ; i < 9 ; i++) {
      checksum += (9 - i) * Character.getNumericValue(idNo.charAt(i));
    }
    checksum += Character.getNumericValue(idNo.charAt(9));
 
    return checksum % 10 == 0;
  }
}</code></pre>

          </div>
        </div>
      </div>
    </section>
    <section id="overview" class="api section-base section-color">
			<div class="container">
			  <div class="row">
          <div class="col-lg-12">
            <h2>Transparency Report</h2>
            <p>See how online service providers compare.</p>
            <table class="report-table table table-border">
              <thead>
                <tr>
                  <th></th>
                  <th>Category</th>
                  <th>Updated</th>
                  <th>Score</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                {% for provider in providers %}
                <tr>
                  <td><a target="_blank" href="{{ provider.url }}">{{ provider.name }}</a></td>
                  <td>{{ provider.category.name }}</td>
                  <td>{{ provider.updated|date:'Y/m/d' }}</td>
                  <td>{{ provider.grade }}</td>
                  <td>
                    {% if provider.score_reasons %}
                    <ul>
                      {% for reason in provider.score_reasons %}
                      <li>{{ reason }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}    
              </tbody>
            </table>
          </div>
        </div>
			</div>
		</section>
  </main>
  <i class="scroll-top-btn scroll-top show"></i>
  <footer class="light">
    <div class="footer-bar">
      <div class="container">
        <span>© 2020 Ben Homnick</span>
        <!--<span><img src="{% static 'media/logo-light.svg' %}" /></span>-->
      </div>
    </div>
    <link rel="stylesheet" href="{% static 'media/icons/iconsmind/line-icons.min.css' %}">
    <script src="{% static 'scripts/parallax.min.js' %}"></script>
    <script src="{% static 'scripts/glide.min.js' %}"></script>
    <script src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script src="{% static 'scripts/tab-accordion.js' %}"></script>
    <script src="{% static 'scripts/imagesloaded.min.js' %}"></script>
    <script src="{% static 'scripts/progress.js' %}"></script>
    <script src="{% static 'scripts/prism.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script>
      $(function() {
        url = 'https://v.identity.tw?id=';
        $('#id').on('input', function(e) {
          val = $(e.target).val();
          if (val != '') {
            $('#api-submit').prop('disabled', false);
          } else {
            $('#api-submit').prop('disabled', true);
          }
        });
        
        $('#api-submit').on('click', function(e) {
          e.preventDefault();
          id = $('#id').val();          
          res = $.getJSON(url+id, function(data, status, xhr) {            
            $('#api-request code').text("GET "+url+id);
            $('#api-response code').text(xhr.responseText);
            Prism.highlightAll();
            $('#api-example').show();
          });
        });
      });
    </script>
  </footer>
</body>
</html>
