{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Codrop | Landing Page App Template</title>
  <meta name="description" content="">
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/glide.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/content-box.css' %}">
  <link rel="stylesheet" href="{% static 'css/contact-form.css' %}">
  <link rel="stylesheet" href="{% static 'css/media-box.css' %}">
  <link rel="stylesheet" href="{% static 'css/skin.css' %}">
  <link rel="icon" href="{% static 'media/favicon.png' %}">
</head>
<body>
  <div id="preloader"></div>
  <nav class="menu-classic menu-fixed menu-transparent menu-one-page align-right light" data-menu-anima="fade-bottom" data-scroll-detect="true">
    <div class="container">
      <div class="menu-brand">
        <a href="#">
          <img class="logo-default" src="{% static 'media/logo-light.svg' %}" alt="logo" />
          <img class="logo-retina" src="{% static 'media/logo-light.svg' %}" alt="logo" />
        </a>
      </div>
      <i class="menu-btn"></i>
      <div class="menu-cnt">
        <div class="menu-right">
          <div class="menu-custom-area">
            <a class="btn btn-xs btn-circle" href="#">Purchase now</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </nav>
  <main>
    <section class="section-image section-full-width-right light no-padding-top section-bottom-layer" style="background-image:url({% static 'media/bg.svg' %})">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-anima="fade-in" data-time="1000">
            <hr class="space" />
            <hr class="space-lg" />
            <h1>
              App landing page and one page template.
            </h1>
            <p>
              The most complete landing page and one page template on the market.
              Easy and fast customization. Instant colors replacement, Photoshop files, great performance, premium support and much more.
            </p>
            <a href="#" class="btn btn-sm btn-circle shadow-1 full-width-sm">Purchase now</a><span class="space"></span>
            <a href="#demos" class="btn-text active scroll-to hidden-sm">View demos</a>
            <hr class="space" />
          </div>
          <div class="col-lg-6 hidden-md">
            <img class="width-min-900" src="{% static 'media/phone-wall.png' %}" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="section-base">
      <div class="container">
        <table class="table table-grid table-border table-md-6">
          <tbody>
            <tr>
              <td>
                <div class="cnt-box cnt-box-top-icon align-center" data-href="#">
                  <i class="im-checked-user"></i>
                  <div class="caption">
                    <h2>9000+ clients</h2>
                    <p>We are trusted by thousands of clients every year</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="cnt-box cnt-box-top-icon align-center" data-href="#">
                  <i class="im-paper-plane"></i>
                  <div class="caption">
                    <h2>24/7 support</h2>
                    <p>Premium support with 3h average response time</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="cnt-box cnt-box-top-icon align-center" data-href="#">
                  <i class="im-data-refresh"></i>
                  <div class="caption">
                    <h2>Free updates</h2>
                    <p>Enjoy free lifetime updates for all our products</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="cnt-box cnt-box-top-icon align-center" data-href="#">
                  <i class="im-film-strip "></i>    <div class="caption">
                    <h2>Images and PSDs</h2>
                    <p>All demo images available plus Photoshop files</p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="space-lg" />
        <h2 class="align-center">9 complete website demos.</h2>
        <p class="align-center width-650">
          Ready websites with stunning designs and tons of features and components.
        </p>
        <hr class="space" />
        <div id="demos" class="grid-list" data-columns="3" data-columns-md="2" data-columns-xs="1">
          <div class="grid-box">
            <div class="grid-item">
              <a href="index-saas.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-saas.jpg' %}" alt="">
                <div class="caption">
                  <h2>Saas</h2>
                  <p>
                    Software and IT
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-fintech.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-fintech.jpg' %}" alt="">
                <div class="caption">
                  <h2>Fintech</h2>
                  <p>
                    Financial and startup
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-sport.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-sport.jpg' %}" alt="">
                <div class="caption">
                  <h2>Sport</h2>
                  <p>
                    Sports and nature
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-food.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-food.jpg' %}" alt="">
                <div class="caption">
                  <h2>Food</h2>
                  <p>
                    Delivery and reservations
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-chat.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-chat.jpg' %}" alt="">
                <div class="caption">
                  <h2>Chat</h2>
                  <p>
                    Messaging and social
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-music.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-music.jpg' %}" alt="">
                <div class="caption">
                  <h2>Music</h2>
                  <p>
                    Music apps and video
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-photo.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-photo.jpg' %}" alt="">
                <div class="caption">
                  <h2>Photo</h2>
                  <p>
                    Photography and video
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-travel.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-travel.jpg' %}" alt="">
                <div class="caption">
                  <h2>Travel</h2>
                  <p>
                    Travels and booking
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="index-news.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/screen-news.jpg' %}" alt="">
                <div class="caption">
                  <h2>News</h2>
                  <p>
                    Magazine and news
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-base section-color">
      <div class="container">
        <table class="table table-grid table-border align-center table-full-border table-md-6">
          <tbody>
            <tr>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>
                      Happy customers
                    </h3>
                    <div class="value text-lg">
                      <span data-to="9000" data-speed="3000">9000</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>Landing pages</h3>
                    <div class="value text-lg">
                      <span data-to="9" data-speed="3000">9</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>Premium components</h3>
                    <div class="value text-lg">
                      <span data-to="80" data-speed="3000">80</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>Navigation menus</h3>
                    <div class="value text-lg">
                      <span data-to="10" data-speed="3000">10</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>
                      Options
                    </h3>
                    <div class="value text-lg">
                      <span data-to="500" data-speed="3000">500</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>Documentation pages</h3>
                    <div class="value text-lg">
                      <span data-to="64" data-speed="3000">64</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>Photoshop files</h3>
                    <div class="value text-lg">
                      <span data-to="25" data-speed="3000">25</span>
                      <span>+</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="counter counter-icon">
                  <div>
                    <h3>Responsive</h3>
                    <div class="value text-lg">
                      <span data-to="100" data-speed="3000">100</span>
                      <span>%</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="section-image " style="background-image:url({% static 'media/bg.svg' %})">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="themekit-envato boxed-area light">
              <div>
                <h4>Clients rating</h4>
                <div class="stars">
                  <label>
                    4.82 / 5 based on 330+ ratings
                  </label>
                </div>
              </div>
              <div>
                <h4>Envato sales</h4>
                <h5>9000+</h5>
              </div>
            </div>
             
          </div>
          <div class="col-lg-7">
            <ul class="slider light" data-options="type:slider,arrows:false,nav:false,perView:1,autoplay:3000,gap:30">
              <li>
                <div class="cnt-box cnt-box-testimonials rating-5">
                  <img src="{% static 'media/envato.png' %}" alt="" />
                  <p>
                    Highly Recommended, Beautiful template, I love to be your customer again, and looking for a future purchase, 5 stars !! Great Job!!
                    Trustable service provider on codecanyon, you can expect a good business deal with them.
                  </p>
                  <p class="testimonial-info">
                    <span>Dasceurope</span>
                    <span>Execoore Template</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="cnt-box cnt-box-testimonials rating-5">
                  <img src="{% static 'media/envato.png' %}" alt="" />
                  <p>
                    This guy's customer support is amazing! He's helped me in literally minutes and has been so patient with my many (possibly annoying) requests.
                    Also, the client was very happy with the quality of the theme. Will definitely use this guy's work again.
                  </p>
                  <p class="testimonial-info">
                    <span>Desireroberts</span>
                    <span>Lightwire Theme</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="cnt-box cnt-box-testimonials rating-4">
                  <img src="{% static 'media/envato.png' %}" alt="" />
                  <p>
                    Great design theme and functionality! The visual editor is very intuitive and powerful. This template has a lot of features, samples and ad-hoc templates
                    to customize your website as you want. Awesome customer support, and very fast to help you!
                  </p>
                  <p class="testimonial-info">
                    <span>berenice_vbr</span>
                    <span>Signflow Theme</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="cnt-box cnt-box-testimonials rating-5">
                  <img src="{% static 'media/envato.png' %}" alt="" />
                  <p>
                    Structura is a very clean theme with a lot of options and different demos. The support was excellent, too,
                    enabling a few custom solutions for the design of my website. The mobile responsive version also works like a charm.
                  </p>
                  <p class="testimonial-info">
                    <span>dannysuperstories </span>
                    <span>Structura Theme</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-base">
      <div class="container">
        <h2 class="align-center">14 truly unique inner pages.</h2>
        <p class="align-center width-650">
          All our pages are unique and carefully designed to give you the maxium value.
        </p>
        <hr class="space" />
        <div id="demos" class="grid-list" data-columns="3" data-columns-md="2" data-columns-xs="1">
          <div class="grid-box">
            <div class="grid-item">
              <a href="careers.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/page-1.jpg' %}" alt="">
                <div class="caption">
                  <h2>Careers</h2>
                  <p>
                    Recruitment and careers
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="faq.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/page-2.jpg' %}" alt="">
                <div class="caption">
                  <h2>Faq</h2>
                  <p>
                    Questions and answers
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="customers.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/page-3.jpg' %}" alt="">
                <div class="caption">
                  <h2>Stories</h2>
                  <p>
                    Successful stories
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="team.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/page-4.jpg' %}" alt="">
                <div class="caption">
                  <h2>Team</h2>
                  <p>
                    Team and members
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="pricing-1.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/page-5.jpg' %}" alt="">
                <div class="caption">
                  <h2>Pricing</h2>
                  <p>
                    Two pricing pages
                  </p>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="about.html" target="_blank" class="media-box media-box-down boxed">
                <img src="{% static 'media/intro/page-6.jpg' %}" alt="">
                <div class="caption">
                  <h2>About</h2>
                  <p>
                    About and history
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-base section-color">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
            <h2 class="themekit-header">Superior performance<br>with great speed and high scores.</h2>
            <p>
              Speed is everything, Codrop is built to develop high performance websites.
              We worked hard to minimize the file size of scripts and styles and to avoid redundante codes. Only lightweight plugins.
            </p>
            <a href="https://gtmetrix.com/reports/templates.themekit.dev/Z0YhikoK" target="_blank" class="btn-text">Check seo score</a>
          </div>
          <div class="col-lg-6 col-md-6 align-right" data-anima="fade-right" data-time="1000">
            <img class="margin-23" src="{% static 'media/intro/seo.png' %}" alt="">
          </div>
        </div>
        <hr class="space-lg" />
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
            <img class="timer" src="{% static 'media/intro/themekit.png' %}" alt="">
          </div>
          <div class="col-lg-6 col-md-6 order-sm-first align-left-sm align-right" data-anima="fade-right" data-time="1000">
            <h2 class="themekit-header">Superior documentation with<br>everything you need and more.</h2>
            <p>
              Differentely by the other templates, that are only focused on design and demos, this template is built with the developers in mind.
              You can customize this template truly faster and without limitations.
            </p>
            <a href="https://themekit.dev/docs/code/main/" target="_blank" class="btn-text">View documentation</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section-base align-center">
      <div class="container">
        <h2>Extremely fast and easy to use.</h2>
        <p>
          The template is built with Themekit, the productivity oriented HTML\CSS framework.
        </p>
        <hr class="space" />
        <div class="grid-list" data-columns="3" data-columns-md="2" data-columns-xs="1" data-anima="fade-bottom" data-timeline="asc" data-time="1000" data-timeline-time="300">
          <div class="grid-box">
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-paper-plane"></i>
                <div class="caption">
                  <h2>Everything is ready</h2>
                  <p>
                    Tons of components with all the features required by most websites.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-file-copy2"></i>
                <div class="caption">
                  <h2>Just copy and paste</h2>
                  <p>
                    Build your site by just copy and paste the code snippets of the docs.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-code-window"></i>
                <div class="caption">
                  <h2>No Javascript</h2>
                  <p>
                    All components are auto initialized and there is need for js codes.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-file-html"></i>
                <div class="caption">
                  <h2>JS options in HTML</h2>
                  <p>
                    Insert the components options directly in the HTML of the component.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-light-bulb"></i>
                <div class="caption">
                  <h2>Stable and smart</h2>
                  <p>
                    The components works always, also if combined or nested together.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-like-2"></i>
                <div class="caption">
                  <h2>Extreme flexibility</h2>
                  <p>
                    You have the freedom to develop what you want, without custom codes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="space" />
        <a href="https://themekit.dev/code/" target="_blank" class="btn btn-circle btn-sm">More details</a>
      </div>
    </section>
    <section class="section-base section-color align-center">
      <div class="container">
        <h2>Lot's of amazing features.</h2>
        <p>
          One of the most large and features rich templates on the market.
        </p>
        <hr class="space" />
        <div class="grid-list" data-columns="3" data-columns-md="2" data-columns-xs="1" data-anima="fade-bottom" data-timeline="asc" data-time="1000" data-timeline-time="300">
          <div class="grid-box">
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-laptop-phone"></i>
                <div class="caption">
                  <h2>Fully responsive</h2>
                  <p>
                    Responsive on all devices with responsive settings and classes.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-fountain-pen"></i>
                <div class="caption">
                  <h2>Colors replacement</h2>
                  <p>
                    Replace all the colors of the template from one single css point.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-running"></i>
                <div class="caption">
                  <h2>Blazing Fast</h2>
                  <p>
                    Superior performance, minimal js and css file sizes, great seo scores.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-facebook-2"></i>
                <div class="caption">
                  <h2>Social feeds</h2>
                  <p>
                    Facebook and Twitter social feed with slider, scroll box and more.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-support"></i>
                <div class="caption">
                  <h2>Premium support</h2>
                  <p>
                    Fast 24/7 premium support with 12h average max response time.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <i class="im-coding"></i>
                <div class="caption">
                  <h2>Developers oriented</h2>
                  <p>
                    Well written codes, extensive docs, minimal input and maximum output.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-image light align-center" style="background-image:url({% static 'media/bg.svg' %})">
      <div class="container">
        <h2>Purchase it now.</h2>
        <p>
          Contact us at support@schiocco.com for any inquiry, we will reply in few minutes.
        </p>
        <a href="#" target="_blank" class="btn btn-circle btn-sm">Purchase template</a>
      </div>
    </section>
  </main>
  <i class="scroll-top-btn scroll-top show"></i>
  <footer class="light">
    <div class="footer-bar">
      <div class="container">
        <span>© 2020 Ben Homnick</span>
        <span><img src="{% static 'media/logo-light.svg' %}" /></span>
      </div>
    </div>
    <link rel="stylesheet" href="{% static 'media/icons/iconsmind/line-icons.min.css' %}">
    <script src="{% static 'scripts/parallax.min.js' %}"></script>
    <script src="{% static 'scripts/glide.min.js' %}"></script>
    <script src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script src="{% static 'scripts/tab-accordion.js' %}"></script>
    <script src="{% static 'scripts/imagesloaded.min.js' %}"></script>
    <script src="{% static 'scripts/progress.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
  </footer>
</body>
</html>