# Message extraction for pybabel, run from the repo root:
#   pybabel extract -F web/babel.cfg -k N_ -o web/locale/messages.pot web
[python: build.py]
[jinja2: templates/**.html]
extensions=jinja2.ext.i18n
